footer {
    display: flex;
    height: 100vh;
    background-color: black;
    scroll-snap-align: start;
    color:white;
}

footer h6 {
    font-size: 5vw;
    margin-bottom: 10vh;
    margin-top: 20vh;
    margin-left: 10vw;
    width: 100%;
}

footer h6 a {
    margin-left: 0vw;
    position: relative;
    text-decoration: none;
    color:white;
    /*Underline animation like in the nav*/
}

footer h6 a:hover::before {
    width: 0;
}

footer h6 a::before {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 100%;
}

.footer-link {
    color:white;
    text-decoration: none;
    margin-left: 11vw;
    position: relative;
    width: fit-content;
}

.footer-link:hover::before {
    width: 100%;
}

.footer-link::before {
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    position: absolute;
    background: white;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0%;
}

.footer1 {
    display: flex;
    flex-direction: column;
}