header {
    background-color: hsl(0,0,98%);
    height: 100vh;
}

.nav-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 7.5vh 3vw;
    height: 10rem;
}

.nav-head-title a {
    color:black;
    text-decoration: none;
    font-weight: 600;
    font-size: 1.5rem;
}

.nav-head-menu {
    display: flex;
    justify-content: space-between;
    width: 6.5rem;
    align-items: center;
    cursor: pointer;
}

.nav-head-menu_burger {
    display: block;
    position: relative;
    border-radius: 100%;
}

.magnetic_nav {
    width: 10rem;
}

.nav-head-menu-burger-bar {
    background-color: black;
    width: 25px;
    height: 2px;
    z-index: 2;
    display: block;
    position: relative;
}

.nav-head-menu-burger-bar:nth-child(2) {
    margin-top: 5px;
}

.nav-menu {
    overflow: hidden;
    width: 0;
    position: fixed;
    background-color: white;
    top: 0;
    right: 0;
    height: 100vh;
    z-index: 2;
    transition: all 1s ease-in;
}

.close .nav-menu {
    transition: all .5s ease-in;
}

.nav-menu_page {
    list-style: none;
    padding: 25vh 10vw;
}

.nav-menu-close {
    position: absolute;
    right: 0;
    padding: 9vh 3vw;
}

.nav-menu-close span {
    width: 25px;
    height: 1px;
    display: block;
    background-color: black;
    position: relative;
    cursor: pointer;
}

.nav-menu li h3 {
    font-size: .95rem;
    color:rgba(0,0,0,.3);
    font-weight: 400;
    margin-bottom: 1rem;
}

.nav-menu li {
    margin-top: 1vh;
}

.nav-menu-page-item {
    text-decoration: none;
    font-size: 3rem;
    color:black;
}

.nav-hover:hover .cursor {
    transform: scale(4);
}

.open .nav-menu {
    width: 50vw;
}

.nav-menu-contact {
    padding: 0vh 10vw;
    margin-top: -10rem;
}

.nav-menu-contact h3 {
    color:rgba(0, 0, 0, 0.3);
    font-weight: 400;
    font-size: .95rem;
    margin-bottom: .5rem;
    width: 10rem;
}

.nav-menu-contact a {
    text-decoration: none;
    font-size: 1.05rem;
    width: fit-content;
    cursor: pointer;
    position: relative;
    padding-bottom: 2px;
    color:black;
}

.nav-menu-contact a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-menu-contact a:hover:after { 
    width: 100%; 
    left: 0; 
}

.nav-menu-contact a:after {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: black;
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-menu-contact a:before {    
    background: none repeat scroll 0 0 transparent;
    bottom: 0;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    background: rgba(0, 0, 0, 0.3);
    transition: width 0.3s ease 0s, left 0.3s ease 0s;
    width: 0;
}

.nav-menu-contact a:not(:hover)::before { 
    width: 100%; 
    left: 0; 
}

.nav-head-menu-burger_container {
    padding: 1rem .5rem;
}

.magnetic .nav-head-menu-burger-bar {
    background-color: white;
}

.nav-head-menu span {
    position: absolute;
    background-color: black;
    width: 50px;
    height: 50px;
    display: none;
    border-radius: 50%;
    top: 0;
    z-index: 1;
    transition: all 300ms ease;
}

@media (max-width:768px) {
    
    .nav-head {
        padding: 4vh 5vw;
    }

    .nav-menu-close {
        position: absolute;
        right: 0;
        padding: 5.5vh 5vw;
    }

    .open .nav-menu {
        width: 100vw;
    }
    
}