.section__paragraph span a{
    color: white;
}

.section__paragraph span a:hover{
    color: violet;
}

.section__paragraph span {
    display: inline-flex;
    justify-content: space-between;
    width: 4rem;
    margin-top: 1.5rem;
}